<!DOCTYPE html>
<html>
{% include 'head.j2' %}
<body>
    <header>
        <h1>{{post.title}}</h1>
        <div>Posted on {{post.date}}</div>
    </header>
    <frame>
    {{ post.html }}
    </frame>
</body>
</html>