<!DOCTYPE html>
<html>
{% include 'head.j2' %}
<body>
    <header>
        <h1>{{post.title}}</h1>
        <div>
            <span>Posted on {{post.date}}</span>
            <span>|</span>
            <span>
                <a href="{{post.github_link}}">source code</a>
            </span>
        </div>
    </header>
    <frame>
    {{ post.html }}
    </frame>
</body>
</html>